{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row justify-content-around">
    <div class="col-sm">
      <div class="jumbotron" class="definition">
        <h1>About</h1>
        <p>
          This site was built using the
          <a href="https://github.com/meetDeveloper/freeDictionaryAPI"
            >Free Dictionary API</a
          >, which looks up words from
          <a href="https://www.thefreedictionary.com/">The Free Dictionary</a>.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
